.logged-classes-overview {
	max-width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	color: #333;
	display: flex;
	flex-direction: column;
	height: 89vh; /* Fixed height */
}

.controls {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 15px;
}

.controls input[type="text"] {
	flex-grow: 1;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #ddd;
	font-size: 0.9em;
}

.export-button {
	background-color: #04abfd;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s;
}

.export-button:hover {
	background-color: #316fc5;
}

.data-table-container {
	flex-grow: 1;
	overflow-y: auto;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-top: 10px;
}

.log-table {
	width: 100%;
	border-collapse: collapse;
}

.log-table th,
.log-table td {
	padding: 10px;
	text-align: left;
	font-size: 0.9em;
	border-bottom: 1px solid #eee;
	color: #333;
}

.log-table th {
	font-weight: bold;
	color: #666;
}

.subject-grade {
	display: flex;
	flex-direction: column;
}

.subject-grade strong {
	color: #333;
	font-size: 1em;
}

.subject-grade span {
	color: #888;
	font-size: 0.8em;
}

.absent-count {
	font-size: 0.8em;
	color: #999;
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	font-size: 0.9em;
	color: #666;
}

.page-controls button {
	background-color: #f4f4f4;
	color: #04abfd;
	border: 1px solid #ddd;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 0 2px;
	cursor: pointer;
	font-size: 0.9em;
	transition: background-color 0.3s;
}

.page-controls button:hover {
	background-color: #e8eaf6;
}

.page-controls button.active {
	background-color: #04abfd;
	color: white;
}

.page-controls button:disabled {
	cursor: not-allowed;
	color: #ccc;
}

.attendance-info {
	position: relative;
	cursor: pointer;
}

.attendance-info::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	white-space: nowrap;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	font-size: 0.8em;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
	margin-right: 8px;
}

.attendance-info:hover::after {
	opacity: 1;
}
.sort-button {
	background-color: #04abfd;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s;
	margin-left: 10px;
}

.sort-button:hover {
	background-color: #316fc5;
}
