.App {
	display: flex;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
	padding: 20px;
	background-color: #f9f9f9;
	margin-left: 250px; /* Makes room for the sidebar */
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	.App {
		flex-direction: column;
	}

	.main-content {
		margin-left: 0;
		margin-top: 50px; /* Make space for top bar in mobile */
		padding: 10px;
		height: auto;
	}
}
