.form-group input[type="text"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.text-input-header {
	display: flex;
	align-items: center;
	font-weight: bold;
	/* margin-bottom: 0px; */
	font-size: 16px;
}

.header-icon {
	margin-right: 8px;
	font-size: 18px;
	color: #343a40;
}

.input-container {
	position: relative;
	display: flex;
	align-items: center;
}

.text-input {
	width: 100%;
	padding: 8px 12px; /* Match the padding used by react-select */
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	height: 39px; /* Ensure a consistent height with the dropdown */
	box-sizing: border-box; /* Include padding and border in height calculation */
}

.password-toggle-icon {
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: #999;
	font-size: 18px;
}
